name: Semgrep CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  semgrep:
    name: Semgrep Scan
    uses: compairifuel/.github/.github/workflows/reusable-codesecscan.yml@main
    permissions:
      contents: read
      security-events: write
      actions: read
